.text-success {
    color: rgb(37, 52, 79) !important;
  }

  .btn-primary{
    background-color: rgb(208, 72, 72) !important;
    border-color: rgb(208, 72, 72) !important;
  }

  .bg-primary{
    background-color: rgb(208, 72, 72) !important;
  }

  .bg-warning{
    background-color: rgb(244, 223, 197) !important;
  }

  .border-success{
    border-color: rgb(37, 52, 79) !important;
  }

  .text-shadow{
  text-shadow: 3px 3px 0 rgb(244, 223, 197);
  }
